#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/andrew/planether/bin/planether
Name=Planether
Icon=/home/andrew/planether/textures/planether.png
Path=/home/andrew/planether
Categories=Games
